@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {

  .btn-primary {
    @apply px-5 py-2.5 rounded-xl font-poppins font-semibold 
    bg-blue-600 text-white shadow-md shadow-blue-300/30 
    hover:bg-blue-700 active:scale-95 
    transition-all duration-200;
  }

  .btn-secondary {
    @apply px-5 py-2.5 rounded-xl font-poppins font-medium 
    bg-white border border-slate-300 
    text-slate-700 shadow-sm
    hover:bg-slate-100 active:scale-95 
    transition-all duration-200;
  }

  .btn-gradient {
    @apply px-5 py-2.5 rounded-xl font-poppins font-semibold 
    bg-gradient-to-r from-blue-600 to-teal-500 
    text-white shadow-md shadow-blue-300/40 
    hover:opacity-90 active:scale-95 
    transition-all duration-200;
  }
}